{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "semi": 2,
    "quotes": [2, "single"],
    "consistent-return": 2,
    "curly": 2,
    "default-case": 2,
    "dot-location": [2, "property"],
    "eqeqeq": [2, "smart"],
    "no-alert": 2,
    "no-div-regex": 2,
    "no-else-return": 1,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 0,
    "no-lone-blocks": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-octal-escape": 1,
    "no-octal": 1,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-script-url": 2,
    "no-spaced-func": 2,
    "no-self-compare": 1,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 1,
    "no-useless-concat": 2,
    "no-with": 2,
    "radix": [2, "always"],
    "no-undef": 2,
    "no-unused-vars": 1,
    "camelcase": [1, {"properties": "always"}],
    "comma-spacing": [1, {"before": false, "after": true}],
    "block-spacing": [1, "always"],
    "brace-style": [1, "1tbs"],
    "comma-style": [2, "last"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "comma-dangle": [1, "never"],
    "no-extra-semi": 1,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-dupe-args": 2,
    "no-func-assign": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "indent": [1, 4],
    "no-mixed-spaces-and-tabs": 1,
    "no-trailing-spaces": 0,
    "no-multiple-empty-lines": 1,
    "space-after-keywords": 1,
    "space-before-blocks": 1

  },
  "env": {
    "browser": true,
    "jquery": false,
    "es6": true
  },
  "globals": {
  }
}